# Virtual environment
.venv/

# Rasa trained models
models/

# Rasa runtime files
.rasa/
results/
logs/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# VS Code
.vscode/

# Environment variables)
.env